.container {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 30px 60px;

	background-color: #ffdab9;

	border-bottom: 3px solid #af7969;

	h1 {
		color: #3f3c3a;
		font-size: 2rem;
	}

	& * {
		margin: 0;
	}
}

.container {
}

.nav {
	display: flex;
	align-items: center;
	ul {
		display: flex;
		gap: 32px;

		li {
			list-style-type: none;

			a {
				font-size: 1.3em;
				font-weight: 800;
				color: #3f3c3a;
			}
		}
	}
}
